<div class="wrapper">
	<div class="evnt-logo">
		Evnt.
	</div>

	<nav class="evnt-nav">
		<ul>
			<% if user_signed_in? %>
				<span class="user-part">
					<li><%= link_to "Wyloguj się", 'sign_out', method: :delete %></li>
					<li><%= link_to "Moje wydarzenia", current_user %></li>
					<li><%= link_to "Dodaj wydarzenie", new_event_path %></li>
				</span>
			<% else %>
				<li><%= link_to "Zaloguj się (poprzez facebook'a)", "auth/facebook" %></li>
			<% end %>

			<li><%= link_to "Wydarzenia", events_path %></li>
		</ul>
	</nav>
</div>