<div class="row">
	<%= simple_form_for @event do |f| %>

	  <%= f.input :name, placeholder: 'Nazwa...', error: 'Brak nazwy wydarzenia', label: false,
	  	input_html: { class: 'col-lg-offset-3 col-lg-6'}, wrapper: false %>

	  <%= f.input :description, placeholder: 'Treściwy opis wydarzenia...', error: 'Brak opisu wydarzenia.', 
	  	label: false, as: :text, wrapper: false,
	  	input_html: { class: 'col-lg-offset-1 col-lg-6', :rows => 5, :cols => 10}  %>

	  <%= f.input :address, placeholder: 'Lokalizacja (np. ul. Umultowska 87 Poznań)...', label: false, 
	  	error: 'Brak informacji o lokalizacji wydarzenia.', wrapper: false, 
	  	input_html: { class: 'col-lg-offset-1 col-lg-4'} %>


		<!-- <%= f.input :max, label: 'Maksymalna liczba uczestników:', error: 'Brak informacji o maksymalnej liczbie uczestników.', wrapper: false,
	  	input_html: { class: 'col-lg-1'},
	  	label_html: { class: 'col-lg-offset-1 col-lg-3' } %> -->

	  <!-- <%= f.datetime_local_field :date, label: 'Data wydarzenia:', error: 'Brak informacji o dacie wydarzenia.',
	  	input_html: { class: 'col-lg-1'}, wrapper: true,
	  	label_html: { class: 'col-lg-offset-1 col-lg-3' } %> -->

	  <!-- <%= f.input :tag_list, placeholder: 'Tagi (separowane przecinkami)', label: false,
	  	error: 'Nie podano żadnego tagu (min. 1).', wrapper: false,
	  	input_html: { class: 'col-lg-offset-1 col-lg-4' } %> -->
	  	
	  <label for="event_date" class="col-lg-2">Data wydarzenia</label>
	  <input type="datetime-local" class="col-lg-2" name="event[date]" id="event_date" />


	  <br>
	  <%= f.submit "Utwórz wydarzenie", :class => "form-btn col-lg-offset-5 col-lg-2" %>
	<% end %>
	  <%= link_to "Powrót do wydarzeń", events_path, :class => "form-btn col-lg-2" %>
</div>